body {
  margin: 0;
  font-family: 'Pacifico', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgba(100,95,190,1) 0%, rgba(20,193,113,1) 46%, rgba(0,212,255,1) 100%);

  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

button {
  margin-left: 5px;
}

button:hover {
  background-color: yellow;
}

.user-details {
  text-align: center;
}

ul {
  list-style: none;
  text-decoration: underline;
}